.container h1{
    color: #e11b1e;
    
}


.tenDT{
    color: #333;
    font-weight: 700;
}

.giaDT{
    font-weight: 700;
    color: #e11b1e;
}

.tongTien{
    display: flex;
    justify-content: space-around;
}
